{% extends "posts/base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}

<div class="profile-container">
    <img src="{{ profile.banner_image.url }}" class="cover-img">
    <div class="profile-details">
        <div class="pd-left">
            <div class="pd-row">
                <span class="pd-image-span">
                <img src="{{ profile.user_image.url }}" class="pd-image">
            </span>
                <div>
                    <h3>{{ profile.user.username }}</h3>
                    <p>{{ profile.friends.count }} Friends {% if profile.user.username != user.username %}- {{ mutual_friends_count }} mutual{% endif %}</p>
                    {% if profile.friends.count > 4 %}
                    {% for friend in profile.friends.all|slice:"4" %}
                    <img src="{{ friend.user_image.url }}">
                    {% endfor %}
                    {% else %}
                    {% for friend in profile.friends.all %}
                    <img src="{{ friend.user_image.url }}">
                    {% endfor %}
                    {% endif %}




                </div>
            </div>



        </div>
        <div class="pd-right">
            <button type="button"><img src="{% static "posts/images/add-friends.png" %}"> Friend</button>
            <button type="button"><img src="{% static "posts/images/message.png" %}"> Message</button>
            <br>
            <a href="#"><img src="{% static "posts/images/more.png" %}"></a>
        </div>
    </div>



    <div class="profile-info">
        <div class="info-col">

            <div class="profile-intro">
                <h3>Intro</h3>
                <p class="intro-text">{{ profile.intro }} <img src="{% static "posts/images/feeling.png" %}"></p>
                <hr>

                <ul>
                    <li><img src="{% static "posts/images/profile-job.png" %}"> Works at {{ profile.works }} </li>
                    <li><img src="{% static "posts/images/profile-study.png" %}"> Studied at {{ profile.education }}</li>
                    <li><img src="{% static "posts/images/profile-location.png" %}"> Lives in {{ profile.location }}</li>
                    <li><img src="{% static "posts/images/profile-home.png" %}"> From {{ profile.home }}</li>
                </ul>


            </div>

            <div class="profile-intro">
                <div class="title-box">
                    <h3>Photos</h3>
                    <a href="#">All Photos</a>
                </div>
       
                <div class="photo-box">
                    {% for photo in post_photos %}
                    <div><img src="{{ photo.image.url }}"></div>

                    {% endfor %}
                </div>

            </div>

            <div class="profile-intro">
                <div class="title-box">
                    <h3>Friends</h3>
                    <a href="#">All Friends</a>
                </div>
                
                <p>{{ profile.friends.count }} {% if profile.user.username != user.username %} ({{ mutual_friends_count }} mutual){% endif %}</p>

                <div class="friends-box">
                    {% if profile.friends.count > 9 %}
                    {% for friend in profile.friends.all|slice:"9" %}
                    <div><img src="{{ friend.user_image.url }}"> <p>{{ friend.user.username }}</p></div>
                    {% endfor %}
                    {% else %}
                    {% for friend in profile.friends.all %}
                    <div><img src="{{ friend.user_image.url }}"><p>{{ friend.user.username|slice:"9" }}</p></div>
                    {% endfor %}
                    {% endif %}
                </div>

            </div>



        </div>

        <div class="post-col">
            {% if profile.user == user %}
            <div class="write-post-container ">
                <div class="user-profile">
                    <img src=" {{ user.profile.user_image.url }} ">
                    <div>
                        <p>{{ user.username }}</p>
                    </div>
                </div>
    
    
                <div class="post-input-container">
                    <form method="post" enctype="multipart/form-data" action={% url "post-create" %}>
                        {% csrf_token %}
                    <textarea rows="3" name="caption" placeholder="What's on your mind, {{ user.username }}?" class="post-text"></textarea>
                    <div class="add-post-links">
                        <a href="#"><img src="{% static "posts/images/live-video.png" %}"> Video</a>
                        <a href="{% url "post-create" %}"><img src="{% static "posts/images/photo.png" %}"> Photo</a>
                        {% comment %} <a href="#"><img src="{% static "posts/images/feeling.png" %}"> Feeling/Activity</a> {% endcomment %}
                        <a><button class="hide-button" type="submit"><i class="fa-solid fa-paper-plane fa-lg" style="color: #1876f2;"></i>Post</button></a>
                    </div>
                    </form>
        
                </div>
            </div>
            {% endif %}
        
        {% for post in posts %}
            <div class="post-container">

                <div class="post-row">
                    <div class="user-profile">
                        <img src="{{ post.author.profile.user_image.url }}">
                        <div>
                            <p>{{ post.author.username }}</p>
                            {% comment %} <span>June 24 2021, 13:40 pm</span> {% endcomment %}
                            <span>{{ post.date_posted|date:"F j, Y, h:i a" }}</span>
                        </div>
                    </div>
                    {% if post.author == user %}
                    <div class="menu-container menu{{ post.id }}">
                        <a class="menu-icon" onclick="toggleDropdown('menu{{ post.id }}')">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu menu{{ post.id }}-dropdown">
                        
                            <a href="{% url "post-update" post.pk %}">Update Post</a>
                            <a href="{% url "post-delete" post.pk %}">Delete Post</a>
                        </div>
                    </div>
                    {% endif %}
                </div>



                {% comment %} <p class="post-text">I will create this project in <span>@django</span> stay tuned for such types of
                    projects <a href="#">#Easy Tutorials</a>
                    <a href="#">#Django</a>
                </p> {% endcomment %}
                <a href="{% url "post-detail" post.pk %}" class="post-text"><p class="post-text">{{ post.caption|truncatewords:20 }}</p></a>

                {% if post.images.all|length > 0 %}
                {% comment %} <img src="images/feed-image-1.png" class="post-img"> {% endcomment %}
                <div class="swiper">
                    <div class="swiper-wrapper">
                      
                    {% for image in post.images.all %}
                        <div class="swiper-slide"><img src="{{ image.image.url }}" class="post-img"></div>
                    {% endfor %}

                    </div>

                    <div class="swiper-pagination"></div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
        

                </div>
                {% endif %}


                <div class="post-row">
                    <div class="activity-icons">
                        <div id="like-section-{{post.id}}">
                            {% if post|has_liked:user %}
                                <img src="{% static "posts/images/like-blue.png" %}" id="like-icon-{{post.id}}" class="like-icon" data-liked="true">
                            {% else %}
                                <img src="{% static "posts/images/like.png" %}" id="like-icon-{{post.id}}" class="like-icon" data-liked="false">
                            {% endif %}
                            <span id="likes-count-{{post.id}}">{{ post.likes.count }}</span>
                        </div>
                                            
                        <a href="{% url "post-detail" post.pk%}"><div><img src="{% static "posts/images/comments.png" %}">{{ post.comments.count }}</div></a>
                        <div><img src="{% static "posts/images/share.png" %}"> 20</div>
                    </div>
                    
                </div>
                

            </div>
        {% endfor %}

        </div>
    </div>






</div>


{% endblock content %}