{% extends "posts/base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}

<div class="main">
    {% comment %} <!-- ---------------------Left Sidebar----------------------- --> {% endcomment %}
    <div class="left-sidebar">
        <div class="imp-links">
            <a href="#"><img src="{% static "posts/images/news.png" %}"> Latest News</a>
            <a href="#"><img src="{% static "posts/images/friends.png" %}"> Friends</a>
            <a href="#"><img src="{% static "posts/images/group.png" %}"> Group</a>
            <a href="#"><img src="{% static "posts/images/marketplace.png" %}"> Marketplace</a>
            <a href="#"><img src="{% static "posts/images/watch.png" %}"> Watch</a>
            <a href="#">See More</a>
        </div>

        <div class="shortcut-links">
            <p>Your Shortcuts</p>
            <a href="#"><img src="{% static "posts/images/shortcut-1.png" %}"> Web Developers</a>
            <a href="#"><img src="{% static "posts/images/shortcut-2.png" %}"> Web Design course</a>
            <a href="#"><img src="{% static "posts/images/shortcut-3.png" %}"> Full Stack Development</a>
            <a href="#"><img src="{% static "posts/images/shortcut-4.png" %}"> Website Experts</a>
        </div>

    </div>

    {% comment %} <!-- ---------------------Main Content----------------------- --> {% endcomment %}
    <div class="main-content">


        <div class="write-post-container ">
            <div class="user-profile">
                <img src="{{ user.profile.user_image.url }}">
                <div>
                    <p>{{ user.username }}</p>

                </div>
            </div>


            <div class="post-input-container">
                <form method="post" enctype="multipart/form-data" action={% url "post-create" %}>
                    {% csrf_token %}
                <textarea rows="3" name="caption" placeholder="What's on your mind, {{ user.username }}?" class="post-text"></textarea>
                <div class="add-post-links">
                    <a href="#"><img src="{% static "posts/images/live-video.png" %}"> Video</a>
                    <a href="{% url "post-create" %}"><img src="{% static "posts/images/photo.png" %}"> Photo</a>
                    {% comment %} <a href="#"><img src="{% static "posts/images/feeling.png" %}"> Feeling/Activity</a> {% endcomment %}
                    <a><button class="hide-button" type="submit"><i class="fa-solid fa-paper-plane fa-lg" style="color: #1876f2;"></i>Post</button></a>
                </div>
                </form>
    
            </div>
        </div>

        {% for post in posts %}
            <div class="post-container">

                <div class="post-row">
                    <div class="user-profile">
      
                        <a href="{% url "profile" post.author.username %}"><img src="{{ post.author.profile.user_image.url }}"></a>
 
                        <div>
                            <p>{{ post.author.username }}</p>
                            {% comment %} <span>June 24 2021, 13:40 pm</span> {% endcomment %}
                            {% comment %} <span>{{ post.date_posted|date:"F j, Y, h:i a" }}</span> {% endcomment %}
                            <span>{{ post.date_posted|timesince }} ago</span>
                        </div>
                    </div>
                    {% if post.author == user %}
                    <div class="menu-container menu{{ post.id }}">
                        <a class="menu-icon" onclick="toggleDropdown('menu{{ post.id }}')">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu menu{{ post.id }}-dropdown">
                        
                            <a href="{% url "post-update" post.pk %}">Update Post</a>
                            <a href="{% url "post-delete" post.pk %}">Delete Post</a>
                        </div>
                    </div>
                    {% endif %}
                </div>



                {% comment %} <p class="post-text">I will create this project in <span>@django</span> stay tuned for such types of
                    projects <a href="#">#Easy Tutorials</a>
                    <a href="#">#Django</a>
                </p> {% endcomment %}
                <a href="{% url "post-detail" post.pk %}" class="post-text"><p class="post-text">{{ post.caption|truncatewords:20 }}</p></a>

                {% if post.images.all|length > 0 %}
                {% comment %} <img src="images/feed-image-1.png" class="post-img"> {% endcomment %}
                <div class="swiper">
                    <div class="swiper-wrapper">
                      
                    {% for image in post.images.all %}
                        <div class="swiper-slide"><img src="{{ image.image.url }}" class="post-img"></div>
                    {% endfor %}

                    </div>

                    <div class="swiper-pagination"></div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
        

                </div>
                {% endif %}


                <div class="post-row">
                    <div class="activity-icons">
                        <div id="like-section-{{post.id}}">
                            {% if post|has_liked:user %}
                                <img src="{% static "posts/images/like-blue.png" %}" id="like-icon-{{post.id}}" class="like-icon" data-liked="true">
                            {% else %}
                                <img src="{% static "posts/images/like.png" %}" id="like-icon-{{post.id}}" class="like-icon" data-liked="false">
                            {% endif %}
                            <span id="likes-count-{{post.id}}">{{ post.likes.count }}</span>
                        </div>
                                            
                        <a href="{% url "post-detail" post.pk%}"><div><img src="{% static "posts/images/comments.png" %}">{{ post.comments.count }}</div></a>
                        <div><img src="{% static "posts/images/share.png" %}"> 20</div>
                    </div>
                    
                </div>
                

            </div>
        {% endfor %}
        <button type="button" class="load-more-button">Load More</button>



    </div>

    {% comment %} <!-- ---------------------Right Sidebar----------------------- --> {% endcomment %}
    <div class="right-sidebar">
        <div class="sidebar-title">
            <h4>Events</h4>
            <a href="#">See All</a>
        </div>

        <div class="event">
            <div class="left-event">
                <h3>18</h3>
                <span>March</span>
            </div>
            <div class="right-event">
                <h4>Social Media</h4>
                <p><i class="fa-solid fa-location-dot"></i> Willson Tech Park</p>
                <a href="#">More Info</a>
            </div>
        </div>

        <div class="event">
            <div class="left-event">
                <h3>22</h3>
                <span>June</span>
            </div>
            <div class="right-event">
                <h4>Mobile Marketing</h4>
                <p><i class="fa-solid fa-location-dot"></i> Willson Tech Park</p>
                <a href="#">More Info</a>
            </div>
        </div>

        <div class="sidebar-title">
            <h4>Advertisement</h4>
            <a href="#">Close</a>
        </div>
        <img src="{% static "posts/images/advertisement.png" %}" class="sidebar-ads">

        <div class="sidebar-title">
            <h4>Conversation</h4>
            <a href="#">Hide Chat</a>
        </div>


        <div class="online-list">
            <div class="online">
                <img src="{% static "posts/images/member-1.png" %}">
            </div>
            <p>Alison Mina</p>
        </div>

        <div class="online-list">
            <div class="online">
                <img src="{% static "posts/images/member-2.png" %}">
            </div>
            <p>Jackson Aston</p>
        </div>

        <div class="online-list">
            <div class="online">
                {% comment %} <!--use nav-user-icon for displaying user ofline and add online for showing online--> {% endcomment %}
                <img src="{% static "posts/images/member-3.png" %}">
            </div>
            <p>Samona Rose</p>
        </div>


    </div>
</div>


{% endblock content %}