{% extends "posts/base.html" %}
{% load static %}
{% block content %}
{% load custom_filters %}

<div class="main">
<div class="post-container post-detail-container">

    <div class="post-row">
        <div class="user-profile">
            <img src="{{post.author.profile.user_image.url}}">
            <div>
                <p>{{ post.author.username }}</p>
                {% comment %} <span>June 24 2021, 13:40 pm</span> {% endcomment %}
                <span>{{ post.date_posted|date:"F j, Y, h:i a" }}</span>
            </div>
        </div>
        {% if post.author == user %}
        <div class="menu-container menu{{ post.id }}">
            <a class="menu-icon" onclick="toggleDropdown('menu{{ post.id }}')">
                <i class="fas fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu menu{{ post.id }}-dropdown">
            
                <a href="{% url "post-update" post.pk %}">Update Post</a>
                <a href="{% url "post-delete" post.pk %}">Delete Post</a>
            </div>
        </div>
        {% endif %}
    </div>



    {% comment %} <p class="post-text">I will create this project in <span>@django</span> stay tuned for such types of
        projects <a href="#">#Easy Tutorials</a>
        <a href="#">#Django</a>
    </p> {% endcomment %}
    <p class="post-text">{{ post.caption }}</p>

    {% if post.images.all|length > 0 %}
    {% comment %} <img src="images/feed-image-1.png" class="post-img"> {% endcomment %}
    <div class="swiper">
        <div class="swiper-wrapper">
          
        {% for image in post.images.all %}
            <div class="swiper-slide"><img src="{{ image.image.url }}" class="post-img"></div>
        {% endfor %}

        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>


    </div>
    {% endif %}


    <div class="post-row">
        <div class="activity-icons">
            <div id="like-section-{{post.id}}">
                {% if post|has_liked:user %}
                    <img src="{% static "posts/images/like-blue.png" %}" id="like-icon-{{post.id}}" class="like-icon" data-liked="true">
                {% else %}
                    <img src="{% static "posts/images/like.png" %}" id="like-icon-{{post.id}}" class="like-icon" data-liked="false">
                {% endif %}
                <span id="likes-count-{{post.id}}">{{ post.likes.count }}</span>
            </div>
            <a href="{% url "post-detail" post.pk%}"><div><img src="{% static "posts/images/comments.png" %}">{{ post.comments.count }}</div></a>
            <div class="share-btn" data-post-id={{post.id}}><img src="{% static "posts/images/share.png" %}">  <span id="share-count-{{post.id}}">{{ post.total_shares }}</span></div>

        </div>
        
    </div>
    

</div>

<div class="right-sidebar post-comments-container">
    <div class="sidebar-title">
        <h4>Comments</h4>
    </div>
    <form action="{% url "comment-post" post.pk %}" method='post' enctype="multipart/form-data">
        {% csrf_token %}
    <div class="post-input-container comments-input">
        <textarea rows="3" placeholder="Add a comment" name="text" class="post-text"></textarea>
        <button type="submit" class="hide-button"><i class="fa-solid fa-paper-plane fa-lg" style="color: #1876f2;"></i></button>

    </div>
</form>



{% for comment in post.comments.all %}
    <div class="post-container comment-container">

        <div class="post-row">
            <div class="user-profile">
                <img src="{{comment.author.profile.user_image.url}}">
                <div>
                    <p>{{ comment.author.username }}</p>
                    {% comment %} <span>June 24 2021, 13:40 pm</span> {% endcomment %}
                    <span>{{ comment.created_at|timesince }} ago</span>
                </div>
            </div>
                    {% if comment.author == user %}
                    <div class="menu-container menu{{ comment.id }}">
                        <a class="menu-icon" onclick="toggleDropdown('menu{{ comment.id }}')">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu menu{{ comment.id }}-dropdown">
                            <a href="{% url "comment-delete" comment.id %}">Delete Comment</a>
                        </div>
                    </div>
                    {% endif %}
        </div>

        <p class="post-text">{{ comment.text }}</p>
    </div>

    {% endfor %}
</div>


</div>

{% endblock content %}