{% extends "posts/base.html" %}
{% load static %}
{% block content %}
{% load custom_filters %}

<div class="main">
<div class="post-container post-detail-container">

    <div class="post-row">
        <div class="user-profile">
            <img src="{{ user.profile.user_image.url }}">
            <div>
                <p>{{ user.username }}</p>
                <span>{% now "F j, Y, h:i a" %}</span>
            </div>
        </div>
    </div>



    {% comment %} <p class="post-text">I will create this project in <span>@django</span> stay tuned for such types of
        projects <a href="#">#Easy Tutorials</a>
        <a href="#">#Django</a>
    </p> {% endcomment %}
    

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="post-input-container comments-input update-input">
            <textarea rows="3" class="post-text" name="caption" placeholder="Write Here" required>{{ object.caption }}</textarea>
            <div class="post-input-buttons">
                <label for="id_images">
                    <img class="add-images-icon" src="{% static "posts/images/photo.png" %}">
                </label>
                <button type="submit" class="hide-button"><i class="fa-solid fa-paper-plane fa-lg" style="color: #1876f2;"></i></button>
            </div>
        </div>
        <div class="images-input-container">
        <input class="d-none" type="file" id="id_images" name="images" multiple required/>
        </div>

    </form>
   


    <div class="swiper">
        <div class="swiper-wrapper" id="swiper-wrapper">
            {% for image in object.images.all %}
                <div class="swiper-slide"><img src="{{ image.image.url }}" class="post-img"></div>
            {% endfor %}
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>


    </div>    

</div>


</div>
<script src="{% static "posts/post_form.js" %}"></script>
{% endblock content %}